@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 14% 98%;
    --foreground: 0 0% 0%;
    --card: 60 14% 98%;
    --card-foreground: 0 0% 0%;
    --popover: 60 14% 98%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;
    --accent: 349 71% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 349 71% 30%;
    --radius: 0rem;
    --sidebar-background: 60 14% 96%;
    --sidebar-foreground: 0 0% 10%;
    --sidebar-primary: 349 71% 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 90%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 349 71% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline uppercase tracking-tight;
  }
}

.concierge-text {
  @apply text-[10px] font-bold uppercase tracking-[0.3em];
}